table {
  width: 90%;
}

.maxWidthLabel {
  max-width : 90% !important;
  word-break: break-all !important;
}

.btn-secondary{
  background-color: darkgreen !important;
  opacity:0.4 !important;
}


.color {
  opacity: 1;
  color: #285028 ;
}

.red {
  color: red;
}

.small {
  font-size: 80%;
}

