<div class="wrapper-editor">

  <div class="row d-flex justify-content-center modalWrapper">

    <!--   Add   -->
    <div>

      <div class="modal fade addNewInputs" id="modalAdd" tabindex="-1" aria-labelledby="modalAdd"
           aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">


            <div class="modal-header text-center">
              <h4 class="modal-title w-100 font-weight-bold text-primary ml-5" translate="">table.addNew</h4>
              <button type="button" class="close text-primary" data-dismiss="modal" aria-label="Close"
                      (click)="clear()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

            <div class="modal-body mx-3">
              <div class="md-form mb-5">
                <label data-error="wrong" data-success="right" for="inputTableNumber" translate="">table.tableNumber</label>
                &nbsp;
                <label class = "red small" *ngIf="!tableNrRight" translate="">table.tableNumberCondition</label>
                <input type="number" min="1" id="inputTableNumber" [(ngModel)]="tableNr" class="form-control validate" (focusout)="validation()">
              </div>

              <div class="md-form mb-5">
                <label data-error="wrong" data-success="right" for="inputSeats" translate="">table.seats</label>
                &nbsp;
                <label class = "red small" *ngIf="!seatsRight" translate="">table.seatsCondition</label>
                <input type="number" min="1" id="inputSeats" [(ngModel)]="seats" class="form-control validate" (focusout)="validation()">
              </div>

              <div class="md-form mb-5">
                <label data-error="wrong" data-success="right" for="inputWindowView" translate="">table.windowView</label>
                <input type="checkbox" id="inputWindowView"  [(ngModel)]="windowView" class="form-control validate">
              </div>

              <div class="md-form mb-5">
                <label data-error="wrong" data-success="right" for="inputWindowView" translate="">table.floor</label>
                &nbsp;
                <label class = "red small" *ngIf="!floorRight" for="inputFloor" translate="">table.floorCondition</label>
                <input type="number" min="-1" id="inputFloor" [(ngModel)]="floor" class="form-control" (focusout)="validation()">
              </div>
            </div>

            <div class="modal-footer d-flex justify-content-center editInsideWrapper">
              <button class="btn btn-outline-secondary btn-block editInside" data-dismiss="modal" (click)="add()" translate="">
                table.add
              </button>
            </div>

          </div>
        </div>
      </div>

    </div>

    <!--   Edit   -->
    <div>

      <div class="modal fade modalEditClass" id="modalEdit" tabindex="-1" role="dialog"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">

            <div class="modal-header text-center">
              <h4 class="modal-title w-100 font-weight-bold text-secondary ml-5" translate="">table.editTable</h4>
              <button type="button" class="close text-secondary" data-dismiss="modal" aria-label="Close"
                      (click)="clear()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

            <div class="modal-body mx-3">
              <div class="md-form mb-5">
                <label data-error="wrong" data-success="right" for="inputTableNumberEdit" translate="">table.tableNumber</label>
                &nbsp;
                <label class = "red small" *ngIf="!tableNrRight" translate="">table.tableNumberCondition</label>
                <input type="number" min="1" disabled id="inputTableNumberEdit" [(ngModel)]="tableNr" class="form-control validate" (focusout)="validation()">
              </div>

              <div class="md-form mb-5">
                <label data-error="wrong" data-success="right" for="inputSeatsEdit" translate="">table.seats</label>
                &nbsp;
                <label class = "red small" *ngIf="!seatsRight" translate="">table.seatsCondition</label>
                <input type="number" min="1" id="inputSeatsEdit" [(ngModel)]="seats" class="form-control validate" (focusout)="validation()">
              </div>

              <div class="md-form mb-5">
                <label data-error="wrong" data-success="right" for="inputWindowViewEdit" translate="">table.windowView</label>
                <input type="checkbox" id="inputWindowViewEdit"  [(ngModel)]="windowView" class="form-control validate">
              </div>

              <div class="md-form mb-5">
                <label data-error="wrong" data-success="right" for="inputWindowViewEdit" translate="">table.floor</label>
                &nbsp;
                <label class = "red small" *ngIf="!floorRight" for="inputFloor" translate="">table.floorCondition</label>
                <input type="number" min="-1" id="inputFloorEdit" [(ngModel)]="floor" class="form-control" (focusout)="validation()">
              </div>
            </div>

            <div class="modal-footer d-flex justify-content-center editInsideWrapper">
              <button class="btn btn-outline-secondary btn-block editInside" data-dismiss="modal" (click)="update()" translate="">
                table.edit
              </button>
            </div>
          </div>
        </div>
      </div>

    </div>

    <!--   Delete   -->
    <div>

      <div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="modalDelete"
           aria-hidden="false">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header text-center">
              <h4 class="modal-title w-100 font-weight-bold ml-5 text-danger" translate="">table.delete</h4>
              <button type="button" class="close text-danger" data-dismiss="modal" aria-label="Close" (click)="clear()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body mx-3">
              <p class="text-center h4" ><label translate="">table.sure</label> {{tableNr}}?</p>
            </div>
            <div class="modal-footer d-flex justify-content-center deleteButtonsWrapper">
              <button type="button" class="btn btn-danger btnYesClass" id="btnYes" data-dismiss="modal"
                      (click)="delete()" translate="">table.yes
              </button>
              <button type="button" class="btn btn-primary btnNoClass" id="btnNo" data-dismiss="modal"
                      (click)="clear()" translate="">table.no
              </button>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

  <table mat-table align="center" [dataSource]="dataSource" class="table-hover mat-elevation-z8">

    <!-- Table Number Column -->
    <ng-container matColumnDef="tableNr">
      <th width="20%" mat-header-cell *matHeaderCellDef>
        <h5 align="center" class="color" translate="">table.tableNumber</h5>
      </th>
      <td align="center" width="20%" mat-cell *matCellDef="let element">{{element.tableNr}}</td>
    </ng-container>

    <!-- Seats Column -->
    <ng-container matColumnDef="seats">
      <th width="20%" mat-header-cell *matHeaderCellDef>
        <h5 class="color" align="center" translate="">table.seats</h5>
      </th>
      <td width="20%" align="center" mat-cell *matCellDef="let element">{{element.seats}}</td>
    </ng-container>

    <!-- Window View Column -->
    <ng-container matColumnDef="windowView">
      <th width="20%" mat-header-cell *matHeaderCellDef>
        <h5 class="color" align="center" translate="">table.windowView</h5>
      </th>
      <td width="20%" align="center" mat-cell *matCellDef="let element"><input type="checkbox" [(ngModel)]="element.windowView" disabled></td>
    </ng-container>

    <!-- Price Column -->
    <ng-container matColumnDef="floor">
      <th width="20%" mat-header-cell *matHeaderCellDef>
        <h5 class="color" align="center" translate="">table.floor</h5>
      </th>
      <td width="20%" align="center" mat-cell *matCellDef="let element">{{element.floor}}</td>
    </ng-container>

    <!-- Edit and Delete Column -->
    <ng-container matColumnDef="edit">
      <th width="5%" mat-header-cell *matHeaderCellDef>
        <div align="center" class="text-center">
          <a href="" class="btn btn-info btn-rounded btn-sm" data-toggle="modal"
             data-target="#modalAdd" translate="">table.add
          </a>
        </div>
      </th>
      <td width="5%" mat-cell *matCellDef="let element">
        <div align="center" class="d-md-inline">
          <div class="text-center buttonEditWrapper">
            <a size="5%" class="dropdown-item" data-toggle="modal" data-target="#modalEdit" (click)="setUpdate(element)">
              <img src="assets/edit-delete/edit.svg">
            </a>
            <a size="5%" class="dropdown-item"  data-toggle="modal" data-target="#modalDelete" (click)="setDelete(element)">
              <img src="assets/edit-delete/delete.svg">
            </a>
          </div>
        </div>
      </td>
    </ng-container>

    <!--  The Description of columns  -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

    <!--  Puts every line  -->
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>

</div>
