table {
  width: 90%;

}

.color {
  opacity: 1;
  color: #285028;

}

.btn-secondary {
  background-color: darkgreen !important;
  opacity: 0.4 !important;
}

.green {
  color: darkgreen !important;
  opacity: 0.4 !important;
}

.red {
  color: red;
}

.small {
  font-size: 80%;
}
