
.form-control {
  margin-left: 35%;
  background: #f7f7f7 none repeat scroll 0 0;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  font-size: 14px;
  width: 30%;
  height: 50px;
  line-height: 50px;
}

.jumbotron {
  background-image:url('../../../assets/img/plate.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: normal;
  opacity:0.6;
  color: #285028 ;
  height:75vh !important;
}

#Login{
  margin: 0 auto;
}
.btn{
  margin-left: 35%;
  background: orange none repeat scroll 0 0;
  border-color: orange;
  color: #ffffff;
  font-size: 14px;
  width: 30%;
  height: 50px;
}
.forgot {
  text-align: center; margin-bottom:30px;
}
.botto-text {
  color: #ffffff;
  font-size: 14px;
  margin: auto;
}
.login-form .btn.btn-primary.reset {
  background: #ff9900 none repeat scroll 0 0;
}
.back { text-align: left; margin-top:10px;}
.back a {color: #444444; font-size: 13px;text-decoration: none;}

h2{
  text-align: center;
}
p{
  text-align: center;
}

