
@media only screen and (max-width: 1500px) {
  .hideContent{
    display: none;
  }
}

.jumbotron {
  background-image:url('../../assets/img/table3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: normal;
  opacity:0.55;
  color: #285028 ;

}

h1.title-center{
  text-align: center;
}

.title{
  background-color: #F8F9FA;
}


