.jumbotron {
  background-image: url('../../../assets/img/about.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: normal;
  opacity: 0.8;
  color: #285028;
}

.indent {
  padding-left: 3%;
}
