<!--{{menu && menu[0].menuItems[0].name}}-->
<!--<div class="menu-body">-->
  <!--&lt;!&ndash; Section starts: Appetizers &ndash;&gt;-->
  <!--<div class="menu-section">-->
    <!--<h2 class="menu-section-title">MAIN COURSE</h2>-->
    <!--&lt;!&ndash; Item starts &ndash;&gt;-->
    <!--<div class="menu-item">-->
      <!--<div class="menu-item-name">-->
        <!--Delicious Dish-->
      <!--</div>-->
      <!--<div class="menu-item-price">-->
        <!--$50-->
      <!--</div>-->
      <!--<div class="menu-item-description">-->
        <!--Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.-->
      <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash; Item ends &ndash;&gt;-->
    <!--&lt;!&ndash; Item starts &ndash;&gt;-->
    <!--<div class="menu-item">-->
      <!--<div class="menu-item-name">-->
        <!--Delicious Dish-->
      <!--</div>-->
      <!--<div class="menu-item-price">-->
        <!--$50-->
      <!--</div>-->
      <!--<div class="menu-item-description">-->
        <!--Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.-->
      <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash; Item ends &ndash;&gt;-->
    <!--&lt;!&ndash; Item starts &ndash;&gt;-->
    <!--<div class="menu-item">-->
      <!--<div class="menu-item-name">-->
        <!--Delicious Dish-->
      <!--</div>-->
      <!--<div class="menu-item-price">-->
        <!--$30-->
      <!--</div>-->
      <!--<div class="menu-item-description">-->
        <!--Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.-->
      <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash; Item ends &ndash;&gt;-->
    <!--&lt;!&ndash; Item starts &ndash;&gt;-->
    <!--<div class="menu-item">-->
      <!--<div class="menu-item-name">-->
        <!--Delicious Dish-->
      <!--</div>-->
      <!--<div class="menu-item-price">-->
        <!--$30-->
      <!--</div>-->
      <!--<div class="menu-item-description">-->
        <!--Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.-->
      <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash; Item ends &ndash;&gt;-->
  <!--</div>-->
  <!--&lt;!&ndash; Section ends: Appetizers &ndash;&gt;-->
  <!--&lt;!&ndash; Section starts: Drinks &ndash;&gt;-->
  <!--<div class="menu-section">-->
    <!--<h2 class="menu-section-title">DRINKS</h2>-->
    <!--&lt;!&ndash; Item starts &ndash;&gt;-->
    <!--<div class="menu-item">-->
      <!--<div class="menu-item-name">-->
        <!--Tasty Drink-->
      <!--</div>-->
      <!--<div class="menu-item-price">-->
        <!--$30-->
      <!--</div>-->
      <!--<div class="menu-item-description">-->
        <!--Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.-->
      <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash; Item ends &ndash;&gt;-->
    <!--&lt;!&ndash; Item starts &ndash;&gt;-->
    <!--<div class="menu-item">-->
      <!--<div class="menu-item-name">-->
        <!--Tasty Drink-->
      <!--</div>-->
      <!--<div class="menu-item-price">-->
        <!--$30-->
      <!--</div>-->
      <!--<div class="menu-item-description">-->
        <!--Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.-->
      <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash; Item ends &ndash;&gt;-->
    <!--&lt;!&ndash; Item starts &ndash;&gt;-->
    <!--<div class="menu-item">-->
      <!--<div class="menu-item-name">-->
        <!--Tasty Drink-->
      <!--</div>-->
      <!--<div class="menu-item-price">-->
        <!--$30-->
      <!--</div>-->
      <!--<div class="menu-item-description">-->
        <!--Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.-->
      <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash; Item ends &ndash;&gt;-->
    <!--&lt;!&ndash; Item starts &ndash;&gt;-->
    <!--<div class="menu-item">-->
      <!--<div class="menu-item-name">-->
        <!--Tasty Drink-->
      <!--</div>-->
      <!--<div class="menu-item-price">-->
        <!--$30-->
      <!--</div>-->
      <!--<div class="menu-item-description">-->
        <!--Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.-->
      <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash; Item ends &ndash;&gt;-->
  <!--</div>-->
  <!--&lt;!&ndash; Section ends: Drinks &ndash;&gt;-->
<!--</div>-->

<div class="menu-body" *ngFor="let menu of menu">
<!-- Section starts: Appetizers -->
  <div class="menu-section">
    <h2 class="menu-section-title">{{menu.type}}</h2>
    <!-- Item starts -->
    <div class="menu-item" *ngFor="let menuItem of menu.menuItems">
      <div class="menu-item-name">
        {{menuItem.name}}
      </div>
      <div class="menu-item-price">
        {{menuItem.price}} lei
      </div>
      <span class="menu-item-description" *ngFor="let ingredient of menuItem.ingredients;let i = index" >
        <span *ngIf="i > 0">,</span>
        <span>{{ingredient.name}}</span>
      </span>
    </div>
    <!-- Item ends -->
  </div>
<!-- Section ends: Appetizers -->
</div>
