<div class="menu-body" *ngFor="let menu of this.menus">
    <hr>{{menu.type}}<hr>
    <mat-list #list >
      <mat-list-item *ngFor="let menuItems of menu.menuItems">
        <pre mat-line class="mainDetails">
          <div class="col-sm-6 col-md-3">
            <a href="#" class="thumbnail-container">
              <img src="/assets/img/restaurant.jpg" alt="Generic placeholder thumbnail">
            </a>
          </div>
          <label translate="">tableView.reservation</label>:
          {{menuItems.name }}&nbsp;  &nbsp;
          <label translate="">tableView.nrPersons</label>: {{menuItems.ingredients}}
          <label translate="">tableView.nrPersons</label>: {{menuItems.price}}
          <p class="extraDetails">
            <label translate="">tableView.confirmed</label>:
            <input type="checkbox" [(ngModel)]="reservation.confirmed" disabled>
          </p>
        </pre>
      </mat-list-item>
    </mat-list>
</div>
