<body>
<div class="container-fluid " *ngIf="isAuthenticatedWaiter()">
  <mat-accordion>
    <mat-expansion-panel *ngFor="let table of tables ; let i = index" (opened)="openGroup(i)">
      <mat-expansion-panel-header>
        <div>
          <mat-panel-title>
            <p class="mainDetails mainText">
              <label translate="">tableView.table</label>: {{table.tableNr }}&nbsp;
              <label translate="">tableView.seats</label>: {{table.seats}}&nbsp;
            </p>
            <p class="extraDetails extraText">
              <label translate="">tableView.floor</label>: {{table.floor}}&nbsp;
              <label translate="">tableView.view</label>:
              <input type="checkbox" [(ngModel)]="table.windowView" disabled>
            </p>
          </mat-panel-title>
        </div>
      </mat-expansion-panel-header>
      <mat-list #list expanded="false">
        <hr>
        <p translate="">tableView.reservations</p>
        <hr>
        <mat-list-item *ngFor="let reservation of reservations">
          <pre mat-line class="mainDetails">
            <label translate="">tableView.reservation</label>:
            {{reservation.reservationName }}&nbsp;  &nbsp;
            <label translate="">tableView.in</label>: {{getFormattedTimeIn(reservation)}} &nbsp;
            <label translate="">tableView.out</label>: {{getFormattedTimeOut(reservation)}} &nbsp;
            <label translate="">tableView.nrPersons</label>: {{reservation.numberOfPersons}}
            <p class="extraDetails">
              <label translate="">tableView.confirmed</label>:
              <input type="checkbox" [(ngModel)]="reservation.confirmed" disabled>
            </p>
          </pre>
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>
  </mat-accordion>
</div>
</body>
