<body>


<div class="container-fluid ">
  <mat-accordion>
    <mat-expansion-panel *ngFor="let table of tables ; let i = index" (opened)="openGroup(i)"   >

      <mat-expansion-panel-header>

      <div >
        <mat-panel-title>
          <pre class="center">Table: {{table.tableNr }}     Seats: {{table.seats}} <p class="extraDetails">     Floor: {{table.floor}}     Has window view: {{table.windowView}}</p></pre>
        </mat-panel-title>
      </div>

      </mat-expansion-panel-header>


      <mat-list #list expanded="false">
        <hr>
        <p>Reservations</p>
        <hr>
        <mat-list-item *ngFor="let reservation of reservations" >
          <pre  mat-line class="mainDetails">Reservation: {{reservation.reservationName }} &nbsp;  &nbsp;   {{getFormattedTime(reservation)}} &nbsp; &nbsp;Number of Persons: {{reservation.numberOfPersons}}
            <p class="extraDetails">         Confirmed: {{reservation.confirmed}}</p>
          </pre>
        </mat-list-item>
      </mat-list>

    </mat-expansion-panel>
  </mat-accordion>

</div>
</body>
