<body>
<div class="container-fluid ">
  <mat-accordion>
    <mat-expansion-panel *ngFor="let reservation of reservations" expanded="false">

      <mat-expansion-panel-header>

        <mat-panel-title>
          Number of Persons: {{reservation.numberOfPersons}}
        </mat-panel-title>

        <div class="checkInAndOutTime">
          <mat-panel-description>
            {{getFormattedTime(reservation)}}
          </mat-panel-description>
        </div>

      </mat-expansion-panel-header>

      <mat-selection-list #list>
        <hr>
        <p>TABLES</p>
        <hr>
        <mat-list-option *ngFor="let table of tables" (click)="selection(list)"   [value]="table.text">
          <pre class="mainDetails">Table: {{table.tableNr }}     Seats: {{table.seats}} <p class="extraDetails">     Floor: {{table.floor}}     Has window view: {{table.windowView}}</p></pre>
        </mat-list-option>
      </mat-selection-list>

    </mat-expansion-panel>
  </mat-accordion>

</div>
</body>
