<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<body>
<div class="container-fluid ">
  <mat-accordion>
    <mat-expansion-panel [expanded]="indexExpanded == i" *ngFor="let reservation of reservations ; let i = index"
                         (opened)="openGroup(reservation.reservationName, i, reservation)"
                         [disabled]="checkDisabled(i)">
      <mat-expansion-panel-header>
        <div class="numberOfPersons">
          <mat-panel-description>
            <p translate="">waiterPage.nrOfPersons</p>
            <p> {{reservation.numberOfPersons}}</p>
          </mat-panel-description>
        </div>
        <div class="checkInAndOutTime">
          <mat-panel-description>
            {{getFormattedTime(reservation)}}
          </mat-panel-description>
        </div>
        <div class="editButtonDiv" *ngIf=checkDisabled(i); then [hidden]="true" disabled="false" else [hidden]="false">
          <mat-icon class="editButton" (click)="enableEdit(i)">create</mat-icon>
        </div>
      </mat-expansion-panel-header>
      <mat-selection-list #list [(ngModel)]="selectedOptions" (ngModelChange)="selection(tables)">
        <hr>
        <p translate="">waiterPage.tableTitle</p>
        <hr>
        <mat-list-option *ngFor="let table of tables" [value]="table">
          <div>
            <pre class="d-inline float-left" translate="">waiterPage.table</pre>
            <pre> {{table.tableNr }}</pre>
            <pre translate="">waiterPage.seats</pre>
            <pre>{{table.seats}}</pre>
            <pre translate="">waiterPage.floor</pre>
            <pre> {{table.floor}} </pre>
            <pre translate="">waiterPage.windowView</pre>
            <pre>{{table.windowView}}</pre>
          </div>
        </mat-list-option>
      </mat-selection-list>
      <hr>
      <div class="buttonDiv">
        <button mat-stroked-button class="acceptButton" (click)="acceptReservation(reservation, i)">
          <div translate="">waiterPage.acceptReservation</div>
        </button>
        <br><br>
        <mat-hint class="hint">{{hint(reservation,i)}}</mat-hint>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
</body>
