<body>
<div class="container-fluid ">
  <mat-accordion>
    <mat-expansion-panel [expanded]="indexExpanded == i" *ngFor="let reservation of reservations ; let i = index"
                         (opened)="openGroup(reservation.reservationName, i, reservation)" [disabled]="checkDisabled(i)">

      <mat-expansion-panel-header>

        <div class="numberOfPersons">
          <mat-panel-description>
            Number of Persons: {{reservation.numberOfPersons}}
          </mat-panel-description>
        </div>

        <div class="checkInAndOutTime">
          <mat-panel-description>
            {{getFormattedTime(reservation)}}
          </mat-panel-description>
        </div>

        <div class="editButtonDiv" *ngIf=checkDisabled(i); then [hidden]="true" disabled="false" else [hidden]="false">
          <mat-icon class="editButton" (click)="enableEdit(i)">create</mat-icon>
        </div>

      </mat-expansion-panel-header>
        <mat-selection-list #list [(ngModel)]="selectedOptions" (ngModelChange)="selection(tables)">
          <hr>
          <p>TABLES</p>
          <hr>
          <mat-list-option *ngFor="let table of tables" [value]="table">
            <pre class="mainDetails">Table: {{table.tableNr }}     Seats: {{table.seats}} <p class="extraDetails">     Floor: {{table.floor}}     Has window view: {{table.windowView}}</p></pre>
          </mat-list-option>
        </mat-selection-list>

        <hr>
        <div class="buttonDiv">
          <button mat-stroked-button class="acceptButton" (click)="acceptReservation(reservation, i)">Accept
            reservation
          </button>
          <br><br>
          <mat-hint class="hint">{{hint(reservation,i)}}</mat-hint>
        </div>
    </mat-expansion-panel>
  </mat-accordion>

</div>
</body>
