.menu-body {
  max-width: 680px;
  margin: 0 auto;
  display: block;
  color: rgb(92, 92, 92);
}

.menu-section {
  margin-bottom: 80px;
}

.menu-section-title {
  font-size: 50px;
  display: block;
  font-weight: normal;
  margin: 20px 0;
  text-align: Center;
  color:darkgreen;
}

.menu-item {
  margin: 35px 0;
  font-size: 18px;
}

.menu-item-name {
  font-weight: bold;
  border-bottom: 2px dotted rgb(213, 213, 213);
}

.menu-item-description {
  font-size: .9em;
  line-height: 1.5em;
}

.menu-item-price {
  float: right;
  font-weight: bold;
  margin-top: -22px;
}

.inline {
  display: inline;
}

.cursorPointer {
  cursor: pointer;
}

.end {
  text-align: end;
}

.center {
  text-align: center;
}

.smallInput {
  width: 8%;
}

.iSize {
  width: 5%;
}

.iconSize {
  width: 6%;
}


.green {
  color: darkgreen !important;
  opacity: 0.4 !important;
}

.btn-secondary {
  background-color: darkgreen !important;
  opacity: 0.4 !important;
}

img {
  width: 30%;
  height: 20%;
  object-fit: contain;
}
