<div class="contact">
  <h1>CONTACT</h1>
  <p style="font-size: x-large"><i class="material-icons">location_on</i> {{location}} </p>
  <p style="font-size: x-large"><i class="material-icons">email</i> {{email}} </p>
  <p style="font-size: x-large"><i class="material-icons">lock_open</i> Open at: {{openHour}} </p>
  <p style="font-size: x-large"><i class="material-icons">lock</i> Close at: {{closeHour}} </p>
</div>

<div class="googleMap">
  <agm-map [zoom]="15" [latitude]="lat" [longitude]="lng">
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
  </agm-map>
</div>
