<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <br class="xxl">
    <h1 class="display-1 font-weight-light d-none d-lg-block">Quick Order</h1>
    <br class="xxl">
    <h4 class=" display-4 font-weight-light	 d-none d-lg-block">Faster than you can imagine .</h4>
    <h1 class="display-3 font-weight-light d-lg-none">Quick Order</h1>
    <h4 class=" display-6 font-weight-light	 d-lg-none">Faster than you can imagine .</h4>
    <br>
    <br>
    <br class="xxl">
    <br class="xxl">
    <br class="xxl">
    <br>
    <br>
    <button type="button" class="btn btn-secondary btn-lg">Reserve a Table</button>
    <br>
    <br>
    <br>
    <br>
    <br class="xxl">
    <br class="xxl">
    <br class="xxl">
  </div>
</div>
