.red {
  color: red;
}

.green {
  color: darkgreen !important;
  opacity: 0.6;
}

.small {
  font-size: 80%;
}

.signUP-panel { // conture to the panel
  border-color: #ccc;
  -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
}

.signUP-panel > .panel-heading {
  color: darkgreen;
  opacity: 0.8;
  background-color: #fff;
  border-color: #fff;
  text-align: center;
}

.signUP-panel input[type="text"], .signUP-panel input[type="email"], .signUP-panel input[type="password"] {
  height: 45px;
  border: 1px solid #029f5b;
  font-size: 100%;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.signUP-panel input:hover,
.signUP-panel input:focus {
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: #ccc;
}

.btn-signUP {
  background-color: darkgreen !important;
  opacity: 0.4;
  outline: none;
  color: #fff;
  font-size: 100%;
  height: auto;
  font-weight: normal;
  padding: 5%;
  text-transform: uppercase;
  border-color: darkgreen;
}

.btn-login:hover,
.btn-login:focus {
  color: #fff;
  background-color: #285028;
  border-color: #285028;
}

.btn {
  color: #ffffff !important;
}
