<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<nav class="navbar navbar-expand-lg  navbar-expand-md navbar-expand-xs navbar-light bg-light">
  <img src="assets/img/QuickOrder.png">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon">
      </span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" *ngIf="!isAuthenticated()">
        <a class="nav-link a" href="startPage" translate="">header.home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" *ngIf="isAuthenticated()">
        <a class="nav-link" href="reserve" translate="">header.reserve</a>
      </li>
      <li class="nav-item" *ngIf="isAuthenticatedUser()">
        <a class="nav-link" href="reservation-log" translate="">header.log</a>
      </li>
      <li class="nav-item" *ngIf="isAuthenticatedUser()">
        <a class="nav-link" href="#" translate="">header.placeOrder</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="menu" translate="">header.menu</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#" translate="">header.aboutUs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="contact" translate="">header.contact</a>
      </li>
      <li class="nav-item" *ngIf="isAuthenticatedWaiter()">
        <a class="nav-link " href="menuItem" translate="">header.menuItem</a>
      </li>
      <li class="nav-item" *ngIf="isAuthenticatedWaiter()">
        <a class="nav-link " href="table" translate="">header.table</a>
      </li>
      <li class="nav-item" *ngIf="isAuthenticatedWaiter()">
        <a class="nav-link " href="tableView" translate="">header.tableView</a>
      </li>
      <li class="nav-item" *ngIf="isAuthenticatedWaiter()">
        <a class="nav-link " href="propertyAdministration" translate="">header.propertyAdministration</a>
      </li>
      <li class="nav-item" *ngIf="isAuthenticated()">
        <a class="nav-link " href="about" translate="">header.aboutUs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="contact" translate="">header.contact</a>
      </li>
      <li class="nav-item" *ngIf="isAuthenticatedWaiter()">
        <a class="nav-link " href="confirmReservations" translate="">header.confirmReservations</a>
      </li>
      <li class="nav-item" *ngIf="isAuthenticated()">
        <a class="nav-link " (click)="logout()" href="login" translate="">header.logout</a>
      </li>
    </ul>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
        <a translate="">header.language</a>
      </button>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" (click)="changeLanguage('EN')"><img src="assets/language/gb.png"> English</a>
        <a class="dropdown-item" (click)="changeLanguage('RO')"><img src="assets/language/ro.png"> Română</a>
      </div>
    </div>
  </div>
</nav>
</body>
</html>
